swagger: '2.0'
info:
  description: API для подписания через СМС
  version: 0.0.1-SNAPSHOT
  title: API микросервиса SMS-SIGN
  contact:
    name: Обручнев Игорь
    email: obruchnevi@msk.bcs.ru
host: gateway.tusvc.bcs.ru
basePath: /v1/
tags:
  - name: sign
    description: REST API для СМС подписания и наложения ЭЦП
paths:
  /sms-sign/sign:
    post:
      tags:
        - sign
      summary: Запрос на запуск процесса, отправку SMS
      operationId: sendotp
      produces:
        - application/json
      parameters:
        - in: body
          name: processParam
          description: Параметры подписания
          required: true
          schema:
            $ref: '#/definitions/ProcessParam'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProcessResponse'
            description: ID сессии
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '422':
          description: Not acceptable
          schema:
            $ref: '#/definitions/ProcessResponse'
        '500':
          description: Internal Server Error
  /sms-sign/resend/{id}:
    post:
      tags:
        - sign
      summary: Запрос на переотправку SMS
      operationId: resendotp
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: id сессии
          required: true
          type: string
          format: uuid
        - in: body
          name: clientDeviceInfo
          schema:
            $ref: '#/definitions/ClientDeviceInfo'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProcessResponse'
            description: >
              Статус переотправки сообщения:
               * 'SEND' - СМС отправлено
               * 'EXCEEDED' - превышено кол-во отправок СМС
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ProcessResponse'
        '422':
          description: Not acceptable
          schema:
            $ref: '#/definitions/ProcessResponse'
        '500':
          description: Internal Server Error
  /sms-sign/check/{id}:
    post:
      tags:
        - sign
      summary: Запрос на проверку OTP
      operationId: checkotp
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: id сессии
          required: true
          type: string
          format: uuid
        - in: body
          name: otpInfo
          schema:
            $ref: '#/definitions/OtpInfo'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProcessResponse'
            description: >
              Статус переотправки сообщения:
               * 'VALID' - OTP верный
               * 'INCORRECT' - OTP не верный
               * 'EXPIRED' - истекло время проверки. Необходима переотправка
               * 'EXCEEDED' - превышено кол-во проверок. Необходима переотправка
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ProcessResponse'
        '422':
          description: Not acceptable
          schema:
            $ref: '#/definitions/ProcessResponse'
        '500':
          description: Internal Server Error
  /sms-sign/sign/{id}:
    get:
      tags:
        - sign
      summary: Получение результатов подписания
      operationId: getResult
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: id сессии
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DocumentResult'
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/ProcessResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ProcessResponse'
        '422':
          description: Not acceptable
          schema:
            $ref: '#/definitions/ProcessResponse'
        '500':
          description: Internal Server Error
securityDefinitions:
  oauth2:
    type: oauth2
    tokenUrl: >-
      https://auth.tusvc.bcs.ru/auth/realms/perseus/protocol/openid-connect/token
    flow: password
definitions:
  ProcessParam:
    type: object
    required:
      - partnerId
      - clientInfo
      - documentInfo
      - smsInfo
      - clientDeviceInfo
    properties:
      partnerId:
        type: string
        description: ID партнера
        example: 6449a46d-5229-431d-80bd-d47c36c5266b
      clientInfo:
        $ref: '#/definitions/ClientInfo'
      smsInfo:
        $ref: '#/definitions/SmsInfo'
      documentInfo:
        type: array
        items:
          $ref: '#/definitions/DocumentInfo'
      clientDeviceInfo:
        $ref: '#/definitions/ClientDeviceInfo'
  ClientInfo:
    type: object
    required:
      - clientId
      - clientName
      - phoneNumber
      - login
    properties:
      clientId:
        type: string
        description: ID клиента
        example: 6449a46d-5229-431d-80bd-d47c36c5266b
      clientName:
        type: string
        description: ФИО клиента
        example: Иванов Иван Иванович
      series:
        type: integer
        description: Серия паспорта
        example: 4606
      number:
        type: integer
        description: Номер паспорта
        example: 124578
      issuer:
        type: string
        description: Кем выдан
        example: ТП №7 ОУФМС России по Москве
      issueCode:
        type: string
        description: Код подразделения
        example: 123-456
        pattern: '^\d{3}-\d{3}$'
      issued:
        type: string
        description: Дата выдачи
        example: "2017-07-21"
        format: date
      login:
        type: string
        description: Логин клиента (k-login)
        example: k-4654561
      edmNum:
        type: string
        description: Номер договора ЭДО
        example: 625897452
      edmDate:
        type: string
        description: Дата заключения договора ЭДО
        example: "2017-07-21"
        format: date
      phoneNumber:
        type: string
        description: Телефонный номер в формате +79876543210
        example: +79876543210
  SmsInfo:
    type: object
    required:
      - smsText
    properties:
      maxSend:
        type: integer
        description: Максимальное количество отправок СМС в рамках сессии
        example: 3
        minimum: 1
        maximum: 10
        default: 3
      maxTry:
        type: integer
        description: Максимальное количество проверок СМС в рамках сессии
        example: 3
        minimum: 1
        maximum: 10
        default: 3
      liveTime:
        type: integer
        description: Время на проверку в секундах
        example: 30
        minimum: 1
        maximum: 999
        default: 30
      subject:
        type: string
        description: Подпись сообщения - отправитель (одно из зарегистрированных на шлюзе значений BCS, BCS Online и т.д.)
        default: BCS
        example: BCS
      smsText:
        type: string
        description: Текст СМС
        example: Сергей Петрович, код для подписания документов
  DocumentInfo:
    type: object
    required:
      - saveDataId
      - bucketName
    properties:
      extId:
        type: string
        description: Внешний ключ документа из запроса
        example: 1
      saveDataId:
        type: string
        description: ID в Сервис Хранения Файлов
        format: uuid
        example: 6449b46d-5229-431d-80bd-d47c36c5266b
      bucketName:
        type: string
        description: Каталог в Сервис Хранения Файлов
        example: УК
      docHash:
        type: string
        description: Хэш содержимого документа для отправки клиенту в СМС сообщении
        example: 098f6bcd4621d373cade4e832627b4f6
      signName:
        type: string
        description: ID ЭПЦ для подписания документа(только для fileExtension=pdf)
      stampPage:
        type: string
        enum:
          - ALL
          - FIRST
          - LAST
        default: ALL
        description: >
          Страницы, на которых будет расположен штамп:
           * 'ALL' - Все страницы. По умолчанию
           * 'FIRST' - Первая
           * 'LAST' - Последняя
      meta:
        type: array
        description: Мета-данные для сохранения подписанных документов. Если не заполнены, то беруться с хранилища файлов с исходного файла
        items:
          $ref: '#/definitions/Meta'
      finalBucketName:
        type: string
        description: Каталог для сохранения подписанных документов. Если не заполнено, то берется с хранилища файлов с исходного файла
        example: УК
      bdudType:
        type: string
        description: Тип документа в архиве БДУД. Заполняется при необходимости сохранить
  Meta:
    type: object
    required:
      - key
      - value
    properties:
      key:
        type: string
        description: Тип внешнего ключа
        example: clientId
      value:
        type: string
        description: Значение внешнего ключа
        example: 6519DC0F-69EC-45A2-BAD5-668D76F29628
  DocumentResult:
    type: object
    properties:
      extId:
        type: string
        description: Внешний ключ документа из запроса
        example: 1
      finalId:
        type: string
        description: ID подписанного файла на хранилище
        format: uuid
        example: 6449b46d-5229-431d-80bd-d47c36c5266b
      finalBucketName:
        type: string
        description: Каталог подписанного файла на хранилище
        example: УК
  ClientDeviceInfo:
    type: object
    required:
      - clientIp
    properties:
      clientMacAddr:
        type: string
        description: МАС адрес клиента, с которого был запрос на подписание
        example: 50:46:5D:6E:8C:20
        pattern: '^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$'
      clientIp:
        type: string
        description: IP клиента, с которого был запрос на подписание (IPv4, IPv6)
        example: 192.168.0.1
        pattern: '((^\s*((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))\s*$)|(^\s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?\s*$))'
  OtpInfo:
    type: object
    required:
      - otp
      - clientDeviceInfo
    properties:
      otp:
        type: integer
        description: OTP введенный клиентом
        example: 645788
      clientDeviceInfo:
        $ref: '#/definitions/ClientDeviceInfo'
  ProcessResponse:
    type: object
    properties:
      processId:
        type: string
        format: uuid
        description: ID процесса
      status:
        type: integer
        description: Код статуса
      message:
        type: string
        description: Сообщение сервиса
      error:
        type: object
        description: Объект ошибки